/* line 7, /Volumes/Maze/Work/Github.io/selcet.github.io - wf/app/scss/base/_reset.scss */
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

/* line 30, /Volumes/Maze/Work/Github.io/selcet.github.io - wf/app/scss/base/_reset.scss */
html, body {
  height: 100%;
  min-height: 100%; }

/* line 35, /Volumes/Maze/Work/Github.io/selcet.github.io - wf/app/scss/base/_reset.scss */
body {
  line-height: 2; }

/* line 39, /Volumes/Maze/Work/Github.io/selcet.github.io - wf/app/scss/base/_reset.scss */
*:before,
*:after {
  display: inline-block;
  vertical-align: middle; }

/* line 45, /Volumes/Maze/Work/Github.io/selcet.github.io - wf/app/scss/base/_reset.scss */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

/* line 50, /Volumes/Maze/Work/Github.io/selcet.github.io - wf/app/scss/base/_reset.scss */
nav ul {
  list-style: none; }

/* line 54, /Volumes/Maze/Work/Github.io/selcet.github.io - wf/app/scss/base/_reset.scss */
blockquote, q {
  quotes: none; }

/* line 58, /Volumes/Maze/Work/Github.io/selcet.github.io - wf/app/scss/base/_reset.scss */
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

/* line 64, /Volumes/Maze/Work/Github.io/selcet.github.io - wf/app/scss/base/_reset.scss */
a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  text-decoration: none; }

/* line 73, /Volumes/Maze/Work/Github.io/selcet.github.io - wf/app/scss/base/_reset.scss */
ul > li {
  list-style: none; }

/* change colours to suit your needs */
/* line 78, /Volumes/Maze/Work/Github.io/selcet.github.io - wf/app/scss/base/_reset.scss */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none; }

/* change colours to suit your needs */
/* line 85, /Volumes/Maze/Work/Github.io/selcet.github.io - wf/app/scss/base/_reset.scss */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold; }

/* line 92, /Volumes/Maze/Work/Github.io/selcet.github.io - wf/app/scss/base/_reset.scss */
del {
  text-decoration: line-through; }

/* line 96, /Volumes/Maze/Work/Github.io/selcet.github.io - wf/app/scss/base/_reset.scss */
abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help; }

/* line 101, /Volumes/Maze/Work/Github.io/selcet.github.io - wf/app/scss/base/_reset.scss */
table {
  border-collapse: collapse;
  border-spacing: 0; }

/* change border colour to suit your needs */
/* line 107, /Volumes/Maze/Work/Github.io/selcet.github.io - wf/app/scss/base/_reset.scss */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0; }

/* line 116, /Volumes/Maze/Work/Github.io/selcet.github.io - wf/app/scss/base/_reset.scss */
input, select {
  vertical-align: middle; }

/* line 13, /Volumes/Maze/Work/Github.io/selcet.github.io - wf/app/scss/base/_grid.scss */
.row {
  margin-right: 0;
  margin-left: 0; }
  /* line 83, /Volumes/Maze/Work/Github.io/selcet.github.io - wf/app/scss/base/_mixins.scss */
  .row:after {
    content: "";
    display: table;
    clear: both; }

/* line 20, /Volumes/Maze/Work/Github.io/selcet.github.io - wf/app/scss/base/_grid.scss */
.S1,
.S2,
.S3,
.S4,
.S5,
.S6,
.S7,
.S8,
.S9,
.S10,
.S11,
.S12,
.M1,
.M2,
.M3,
.M4,
.M5,
.M6,
.M7,
.M8,
.M9,
.M10,
.M11,
.M12,
.L1,
.L2,
.L3,
.L4,
.L5,
.L6,
.L7,
.L8,
.L9,
.L10,
.L11,
.L12,
.XL1,
.XL2,
.XL3,
.XL4,
.XL5,
.XL6,
.XL7,
.XL8,
.XL9,
.XL10,
.XL11,
.XL12 {
  position: relative;
  padding-right: 0;
  min-height: 1px;
  padding-left: 0; }

/* line 85, /Volumes/Maze/Work/Github.io/selcet.github.io - wf/app/scss/base/_grid.scss */
.S1,
.S2,
.S3,
.S4,
.S5,
.S6,
.S7,
.S8,
.S9,
.S10,
.S11 {
  float: left; }

/* line 99, /Volumes/Maze/Work/Github.io/selcet.github.io - wf/app/scss/base/_grid.scss */
.S1 {
  width: 8.33333%; }

/* line 103, /Volumes/Maze/Work/Github.io/selcet.github.io - wf/app/scss/base/_grid.scss */
.S2 {
  width: 16.66667%; }

/* line 107, /Volumes/Maze/Work/Github.io/selcet.github.io - wf/app/scss/base/_grid.scss */
.S3 {
  width: 25%; }

/* line 111, /Volumes/Maze/Work/Github.io/selcet.github.io - wf/app/scss/base/_grid.scss */
.S4 {
  width: 33.33333%; }

/* line 115, /Volumes/Maze/Work/Github.io/selcet.github.io - wf/app/scss/base/_grid.scss */
.S5 {
  width: 41.66667%; }

/* line 119, /Volumes/Maze/Work/Github.io/selcet.github.io - wf/app/scss/base/_grid.scss */
.S6 {
  width: 50%; }

/* line 123, /Volumes/Maze/Work/Github.io/selcet.github.io - wf/app/scss/base/_grid.scss */
.S7 {
  width: 58.33333%; }

/* line 127, /Volumes/Maze/Work/Github.io/selcet.github.io - wf/app/scss/base/_grid.scss */
.S8 {
  width: 66.66667%; }

/* line 131, /Volumes/Maze/Work/Github.io/selcet.github.io - wf/app/scss/base/_grid.scss */
.S9 {
  width: 75%; }

/* line 135, /Volumes/Maze/Work/Github.io/selcet.github.io - wf/app/scss/base/_grid.scss */
.S10 {
  width: 83.33333%; }

/* line 139, /Volumes/Maze/Work/Github.io/selcet.github.io - wf/app/scss/base/_grid.scss */
.S11 {
  width: 91.66667%; }

/* line 143, /Volumes/Maze/Work/Github.io/selcet.github.io - wf/app/scss/base/_grid.scss */
.S12 {
  width: 100%; }

@media (min-width: 481px) {
  /* line 158, /Volumes/Maze/Work/Github.io/selcet.github.io - wf/app/scss/base/_grid.scss */
  .M1,
  .M2,
  .M3,
  .M4,
  .M5,
  .M6,
  .M7,
  .M8,
  .M9,
  .M10,
  .M11 {
    float: left; }
  /* line 171, /Volumes/Maze/Work/Github.io/selcet.github.io - wf/app/scss/base/_grid.scss */
  .M1 {
    width: 8.33333%; }
  /* line 174, /Volumes/Maze/Work/Github.io/selcet.github.io - wf/app/scss/base/_grid.scss */
  .M2 {
    width: 16.66667%; }
  /* line 177, /Volumes/Maze/Work/Github.io/selcet.github.io - wf/app/scss/base/_grid.scss */
  .M3 {
    width: 25%; }
  /* line 180, /Volumes/Maze/Work/Github.io/selcet.github.io - wf/app/scss/base/_grid.scss */
  .M4 {
    width: 33.33333%; }
  /* line 183, /Volumes/Maze/Work/Github.io/selcet.github.io - wf/app/scss/base/_grid.scss */
  .M5 {
    width: 41.66667%; }
  /* line 186, /Volumes/Maze/Work/Github.io/selcet.github.io - wf/app/scss/base/_grid.scss */
  .M6 {
    width: 50%; }
  /* line 189, /Volumes/Maze/Work/Github.io/selcet.github.io - wf/app/scss/base/_grid.scss */
  .M7 {
    width: 58.33333%; }
  /* line 192, /Volumes/Maze/Work/Github.io/selcet.github.io - wf/app/scss/base/_grid.scss */
  .M8 {
    width: 66.66667%; }
  /* line 195, /Volumes/Maze/Work/Github.io/selcet.github.io - wf/app/scss/base/_grid.scss */
  .M9 {
    width: 75%; }
  /* line 198, /Volumes/Maze/Work/Github.io/selcet.github.io - wf/app/scss/base/_grid.scss */
  .M10 {
    width: 83.33333%; }
  /* line 201, /Volumes/Maze/Work/Github.io/selcet.github.io - wf/app/scss/base/_grid.scss */
  .M11 {
    width: 91.66667%; }
  /* line 204, /Volumes/Maze/Work/Github.io/selcet.github.io - wf/app/scss/base/_grid.scss */
  .M12 {
    width: 100%; }
  /* line 209, /Volumes/Maze/Work/Github.io/selcet.github.io - wf/app/scss/base/_grid.scss */
  .MPush1 {
    left: 8.33333%; }
  /* line 212, /Volumes/Maze/Work/Github.io/selcet.github.io - wf/app/scss/base/_grid.scss */
  .MPush2 {
    left: 16.66667%; }
  /* line 215, /Volumes/Maze/Work/Github.io/selcet.github.io - wf/app/scss/base/_grid.scss */
  .MPush3 {
    left: 25%; }
  /* line 218, /Volumes/Maze/Work/Github.io/selcet.github.io - wf/app/scss/base/_grid.scss */
  .MPush4 {
    left: 33.33333%; }
  /* line 221, /Volumes/Maze/Work/Github.io/selcet.github.io - wf/app/scss/base/_grid.scss */
  .MPush5 {
    left: 41.66667%; }
  /* line 224, /Volumes/Maze/Work/Github.io/selcet.github.io - wf/app/scss/base/_grid.scss */
  .MPush6 {
    left: 50%; }
  /* line 227, /Volumes/Maze/Work/Github.io/selcet.github.io - wf/app/scss/base/_grid.scss */
  .MPush7 {
    left: 58.33333%; }
  /* line 230, /Volumes/Maze/Work/Github.io/selcet.github.io - wf/app/scss/base/_grid.scss */
  .MPush8 {
    left: 66.66667%; }
  /* line 233, /Volumes/Maze/Work/Github.io/selcet.github.io - wf/app/scss/base/_grid.scss */
  .MPush9 {
    left: 75%; }
  /* line 236, /Volumes/Maze/Work/Github.io/selcet.github.io - wf/app/scss/base/_grid.scss */
  .MPush10 {
    left: 83.33333%; }
  /* line 239, /Volumes/Maze/Work/Github.io/selcet.github.io - wf/app/scss/base/_grid.scss */
  .MPush11 {
    left: 91.66667%; }
  /* line 243, /Volumes/Maze/Work/Github.io/selcet.github.io - wf/app/scss/base/_grid.scss */
  .MPull1 {
    right: 8.33333%; }
  /* line 246, /Volumes/Maze/Work/Github.io/selcet.github.io - wf/app/scss/base/_grid.scss */
  .MPull2 {
    right: 16.66667%; }
  /* line 249, /Volumes/Maze/Work/Github.io/selcet.github.io - wf/app/scss/base/_grid.scss */
  .MPull3 {
    right: 25%; }
  /* line 252, /Volumes/Maze/Work/Github.io/selcet.github.io - wf/app/scss/base/_grid.scss */
  .MPull4 {
    right: 33.33333%; }
  /* line 255, /Volumes/Maze/Work/Github.io/selcet.github.io - wf/app/scss/base/_grid.scss */
  .MPull5 {
    right: 41.66667%; }
  /* line 258, /Volumes/Maze/Work/Github.io/selcet.github.io - wf/app/scss/base/_grid.scss */
  .MPull6 {
    right: 50%; }
  /* line 261, /Volumes/Maze/Work/Github.io/selcet.github.io - wf/app/scss/base/_grid.scss */
  .MPull7 {
    right: 58.33333%; }
  /* line 264, /Volumes/Maze/Work/Github.io/selcet.github.io - wf/app/scss/base/_grid.scss */
  .MPull8 {
    right: 66.66667%; }
  /* line 267, /Volumes/Maze/Work/Github.io/selcet.github.io - wf/app/scss/base/_grid.scss */
  .MPull9 {
    right: 75%; }
  /* line 270, /Volumes/Maze/Work/Github.io/selcet.github.io - wf/app/scss/base/_grid.scss */
  .MPull10 {
    right: 83.33333%; }
  /* line 273, /Volumes/Maze/Work/Github.io/selcet.github.io - wf/app/scss/base/_grid.scss */
  .MPull11 {
    right: 91.66667%; }
  /* line 278, /Volumes/Maze/Work/Github.io/selcet.github.io - wf/app/scss/base/_grid.scss */
  .MOffset1 {
    margin-left: 8.33333%; }
  /* line 281, /Volumes/Maze/Work/Github.io/selcet.github.io - wf/app/scss/base/_grid.scss */
  .MOffset2 {
    margin-left: 16.66667%; }
  /* line 284, /Volumes/Maze/Work/Github.io/selcet.github.io - wf/app/scss/base/_grid.scss */
  .MOffset3 {
    margin-left: 25%; }
  /* line 287, /Volumes/Maze/Work/Github.io/selcet.github.io - wf/app/scss/base/_grid.scss */
  .MOffset4 {
    margin-left: 33.33333%; }
  /* line 290, /Volumes/Maze/Work/Github.io/selcet.github.io - wf/app/scss/base/_grid.scss */
  .MOffset5 {
    margin-left: 41.66667%; }
  /* line 293, /Volumes/Maze/Work/Github.io/selcet.github.io - wf/app/scss/base/_grid.scss */
  .MOffset6 {
    margin-left: 50%; }
  /* line 296, /Volumes/Maze/Work/Github.io/selcet.github.io - wf/app/scss/base/_grid.scss */
  .MOffset7 {
    margin-left: 58.33333%; }
  /* line 299, /Volumes/Maze/Work/Github.io/selcet.github.io - wf/app/scss/base/_grid.scss */
  .MOffset8 {
    margin-left: 66.66667%; }
  /* line 302, /Volumes/Maze/Work/Github.io/selcet.github.io - wf/app/scss/base/_grid.scss */
  .MOffset9 {
    margin-left: 75%; }
  /* line 305, /Volumes/Maze/Work/Github.io/selcet.github.io - wf/app/scss/base/_grid.scss */
  .MOffset10 {
    margin-left: 83.33333%; }
  /* line 308, /Volumes/Maze/Work/Github.io/selcet.github.io - wf/app/scss/base/_grid.scss */
  .MOffset11 {
    margin-left: 91.66667%; } }

@media (min-width: 1024px) {
  /* line 323, /Volumes/Maze/Work/Github.io/selcet.github.io - wf/app/scss/base/_grid.scss */
  .L1,
  .L2,
  .L3,
  .L4,
  .L5,
  .L6,
  .L7,
  .L8,
  .L9,
  .L10,
  .L11 {
    float: left; }
  /* line 336, /Volumes/Maze/Work/Github.io/selcet.github.io - wf/app/scss/base/_grid.scss */
  .L1 {
    width: 8.33333%; }
  /* line 339, /Volumes/Maze/Work/Github.io/selcet.github.io - wf/app/scss/base/_grid.scss */
  .L2 {
    width: 16.66667%; }
  /* line 342, /Volumes/Maze/Work/Github.io/selcet.github.io - wf/app/scss/base/_grid.scss */
  .L3 {
    width: 25%; }
  /* line 345, /Volumes/Maze/Work/Github.io/selcet.github.io - wf/app/scss/base/_grid.scss */
  .L4 {
    width: 33.33333%; }
  /* line 348, /Volumes/Maze/Work/Github.io/selcet.github.io - wf/app/scss/base/_grid.scss */
  .L5 {
    width: 41.66667%; }
  /* line 351, /Volumes/Maze/Work/Github.io/selcet.github.io - wf/app/scss/base/_grid.scss */
  .L6 {
    width: 50%; }
  /* line 354, /Volumes/Maze/Work/Github.io/selcet.github.io - wf/app/scss/base/_grid.scss */
  .L7 {
    width: 58.33333%; }
  /* line 357, /Volumes/Maze/Work/Github.io/selcet.github.io - wf/app/scss/base/_grid.scss */
  .L8 {
    width: 66.66667%; }
  /* line 360, /Volumes/Maze/Work/Github.io/selcet.github.io - wf/app/scss/base/_grid.scss */
  .L9 {
    width: 75%; }
  /* line 363, /Volumes/Maze/Work/Github.io/selcet.github.io - wf/app/scss/base/_grid.scss */
  .L10 {
    width: 83.33333%; }
  /* line 366, /Volumes/Maze/Work/Github.io/selcet.github.io - wf/app/scss/base/_grid.scss */
  .L11 {
    width: 91.66667%; }
  /* line 369, /Volumes/Maze/Work/Github.io/selcet.github.io - wf/app/scss/base/_grid.scss */
  .L12 {
    width: 100%; }
  /* line 374, /Volumes/Maze/Work/Github.io/selcet.github.io - wf/app/scss/base/_grid.scss */
  .LPush0 {
    left: auto; }
  /* line 377, /Volumes/Maze/Work/Github.io/selcet.github.io - wf/app/scss/base/_grid.scss */
  .LPush1 {
    left: 8.33333%; }
  /* line 380, /Volumes/Maze/Work/Github.io/selcet.github.io - wf/app/scss/base/_grid.scss */
  .LPush2 {
    left: 16.66667%; }
  /* line 383, /Volumes/Maze/Work/Github.io/selcet.github.io - wf/app/scss/base/_grid.scss */
  .LPush3 {
    left: 25%; }
  /* line 386, /Volumes/Maze/Work/Github.io/selcet.github.io - wf/app/scss/base/_grid.scss */
  .LPush4 {
    left: 33.33333%; }
  /* line 389, /Volumes/Maze/Work/Github.io/selcet.github.io - wf/app/scss/base/_grid.scss */
  .LPush5 {
    left: 41.66667%; }
  /* line 392, /Volumes/Maze/Work/Github.io/selcet.github.io - wf/app/scss/base/_grid.scss */
  .LPush6 {
    left: 50%; }
  /* line 395, /Volumes/Maze/Work/Github.io/selcet.github.io - wf/app/scss/base/_grid.scss */
  .LPush7 {
    left: 58.33333%; }
  /* line 398, /Volumes/Maze/Work/Github.io/selcet.github.io - wf/app/scss/base/_grid.scss */
  .LPush8 {
    left: 66.66667%; }
  /* line 401, /Volumes/Maze/Work/Github.io/selcet.github.io - wf/app/scss/base/_grid.scss */
  .LPush9 {
    left: 75%; }
  /* line 404, /Volumes/Maze/Work/Github.io/selcet.github.io - wf/app/scss/base/_grid.scss */
  .LPush10 {
    left: 83.33333%; }
  /* line 407, /Volumes/Maze/Work/Github.io/selcet.github.io - wf/app/scss/base/_grid.scss */
  .LPush11 {
    left: 91.66667%; }
  /* line 411, /Volumes/Maze/Work/Github.io/selcet.github.io - wf/app/scss/base/_grid.scss */
  .LPull0 {
    right: auto; }
  /* line 414, /Volumes/Maze/Work/Github.io/selcet.github.io - wf/app/scss/base/_grid.scss */
  .LPull1 {
    right: 8.33333%; }
  /* line 417, /Volumes/Maze/Work/Github.io/selcet.github.io - wf/app/scss/base/_grid.scss */
  .LPull2 {
    right: 16.66667%; }
  /* line 420, /Volumes/Maze/Work/Github.io/selcet.github.io - wf/app/scss/base/_grid.scss */
  .LPull3 {
    right: 25%; }
  /* line 423, /Volumes/Maze/Work/Github.io/selcet.github.io - wf/app/scss/base/_grid.scss */
  .LPull4 {
    right: 33.33333%; }
  /* line 426, /Volumes/Maze/Work/Github.io/selcet.github.io - wf/app/scss/base/_grid.scss */
  .LPull5 {
    right: 41.66667%; }
  /* line 429, /Volumes/Maze/Work/Github.io/selcet.github.io - wf/app/scss/base/_grid.scss */
  .LPull6 {
    right: 50%; }
  /* line 432, /Volumes/Maze/Work/Github.io/selcet.github.io - wf/app/scss/base/_grid.scss */
  .LPull7 {
    right: 58.33333%; }
  /* line 435, /Volumes/Maze/Work/Github.io/selcet.github.io - wf/app/scss/base/_grid.scss */
  .LPull8 {
    right: 66.66667%; }
  /* line 438, /Volumes/Maze/Work/Github.io/selcet.github.io - wf/app/scss/base/_grid.scss */
  .LPull9 {
    right: 75%; }
  /* line 441, /Volumes/Maze/Work/Github.io/selcet.github.io - wf/app/scss/base/_grid.scss */
  .LPull10 {
    right: 83.33333%; }
  /* line 444, /Volumes/Maze/Work/Github.io/selcet.github.io - wf/app/scss/base/_grid.scss */
  .LPull11 {
    right: 91.66667%; }
  /* line 449, /Volumes/Maze/Work/Github.io/selcet.github.io - wf/app/scss/base/_grid.scss */
  .LOffset0 {
    margin-left: 0; }
  /* line 452, /Volumes/Maze/Work/Github.io/selcet.github.io - wf/app/scss/base/_grid.scss */
  .LOffset1 {
    margin-left: 8.33333%; }
  /* line 455, /Volumes/Maze/Work/Github.io/selcet.github.io - wf/app/scss/base/_grid.scss */
  .LOffset2 {
    margin-left: 16.66667%; }
  /* line 458, /Volumes/Maze/Work/Github.io/selcet.github.io - wf/app/scss/base/_grid.scss */
  .LOffset3 {
    margin-left: 25%; }
  /* line 461, /Volumes/Maze/Work/Github.io/selcet.github.io - wf/app/scss/base/_grid.scss */
  .LOffset4 {
    margin-left: 33.33333%; }
  /* line 464, /Volumes/Maze/Work/Github.io/selcet.github.io - wf/app/scss/base/_grid.scss */
  .LOffset5 {
    margin-left: 41.66667%; }
  /* line 467, /Volumes/Maze/Work/Github.io/selcet.github.io - wf/app/scss/base/_grid.scss */
  .LOffset6 {
    margin-left: 50%; }
  /* line 470, /Volumes/Maze/Work/Github.io/selcet.github.io - wf/app/scss/base/_grid.scss */
  .LOffset7 {
    margin-left: 58.33333%; }
  /* line 473, /Volumes/Maze/Work/Github.io/selcet.github.io - wf/app/scss/base/_grid.scss */
  .LOffset8 {
    margin-left: 66.66667%; }
  /* line 476, /Volumes/Maze/Work/Github.io/selcet.github.io - wf/app/scss/base/_grid.scss */
  .LOffset9 {
    margin-left: 75%; }
  /* line 479, /Volumes/Maze/Work/Github.io/selcet.github.io - wf/app/scss/base/_grid.scss */
  .LOffset10 {
    margin-left: 83.33333%; }
  /* line 482, /Volumes/Maze/Work/Github.io/selcet.github.io - wf/app/scss/base/_grid.scss */
  .LOffset11 {
    margin-left: 91.66667%; } }

@media (min-width: 1281px) {
  /* line 497, /Volumes/Maze/Work/Github.io/selcet.github.io - wf/app/scss/base/_grid.scss */
  .XL1,
  .XL2,
  .XL3,
  .XL4,
  .XL5,
  .XL6,
  .XL7,
  .XL8,
  .XL9,
  .XL10,
  .XL11 {
    float: left; }
  /* line 510, /Volumes/Maze/Work/Github.io/selcet.github.io - wf/app/scss/base/_grid.scss */
  .XL1 {
    width: 8.33333%; }
  /* line 513, /Volumes/Maze/Work/Github.io/selcet.github.io - wf/app/scss/base/_grid.scss */
  .XL2 {
    width: 16.66667%; }
  /* line 516, /Volumes/Maze/Work/Github.io/selcet.github.io - wf/app/scss/base/_grid.scss */
  .XL3 {
    width: 25%; }
  /* line 519, /Volumes/Maze/Work/Github.io/selcet.github.io - wf/app/scss/base/_grid.scss */
  .XL4 {
    width: 33.33333%; }
  /* line 522, /Volumes/Maze/Work/Github.io/selcet.github.io - wf/app/scss/base/_grid.scss */
  .XL5 {
    width: 41.66667%; }
  /* line 525, /Volumes/Maze/Work/Github.io/selcet.github.io - wf/app/scss/base/_grid.scss */
  .XL6 {
    width: 50%; }
  /* line 528, /Volumes/Maze/Work/Github.io/selcet.github.io - wf/app/scss/base/_grid.scss */
  .XL7 {
    width: 58.33333%; }
  /* line 531, /Volumes/Maze/Work/Github.io/selcet.github.io - wf/app/scss/base/_grid.scss */
  .XL8 {
    width: 66.66667%; }
  /* line 534, /Volumes/Maze/Work/Github.io/selcet.github.io - wf/app/scss/base/_grid.scss */
  .XL9 {
    width: 75%; }
  /* line 537, /Volumes/Maze/Work/Github.io/selcet.github.io - wf/app/scss/base/_grid.scss */
  .XL10 {
    width: 83.33333%; }
  /* line 540, /Volumes/Maze/Work/Github.io/selcet.github.io - wf/app/scss/base/_grid.scss */
  .XL11 {
    width: 91.66667%; }
  /* line 543, /Volumes/Maze/Work/Github.io/selcet.github.io - wf/app/scss/base/_grid.scss */
  .XL12 {
    width: 100%; }
  /* line 548, /Volumes/Maze/Work/Github.io/selcet.github.io - wf/app/scss/base/_grid.scss */
  .XLPush0 {
    left: auto; }
  /* line 551, /Volumes/Maze/Work/Github.io/selcet.github.io - wf/app/scss/base/_grid.scss */
  .XLPush1 {
    left: 8.33333%; }
  /* line 554, /Volumes/Maze/Work/Github.io/selcet.github.io - wf/app/scss/base/_grid.scss */
  .XLPush2 {
    left: 16.66667%; }
  /* line 557, /Volumes/Maze/Work/Github.io/selcet.github.io - wf/app/scss/base/_grid.scss */
  .XLPush3 {
    left: 25%; }
  /* line 560, /Volumes/Maze/Work/Github.io/selcet.github.io - wf/app/scss/base/_grid.scss */
  .XLPush4 {
    left: 33.33333%; }
  /* line 563, /Volumes/Maze/Work/Github.io/selcet.github.io - wf/app/scss/base/_grid.scss */
  .XLPush5 {
    left: 41.66667%; }
  /* line 566, /Volumes/Maze/Work/Github.io/selcet.github.io - wf/app/scss/base/_grid.scss */
  .XLPush6 {
    left: 50%; }
  /* line 569, /Volumes/Maze/Work/Github.io/selcet.github.io - wf/app/scss/base/_grid.scss */
  .XLPush7 {
    left: 58.33333%; }
  /* line 572, /Volumes/Maze/Work/Github.io/selcet.github.io - wf/app/scss/base/_grid.scss */
  .XLPush8 {
    left: 66.66667%; }
  /* line 575, /Volumes/Maze/Work/Github.io/selcet.github.io - wf/app/scss/base/_grid.scss */
  .XLPush9 {
    left: 75%; }
  /* line 578, /Volumes/Maze/Work/Github.io/selcet.github.io - wf/app/scss/base/_grid.scss */
  .XLPush10 {
    left: 83.33333%; }
  /* line 581, /Volumes/Maze/Work/Github.io/selcet.github.io - wf/app/scss/base/_grid.scss */
  .XLPush11 {
    left: 91.66667%; }
  /* line 585, /Volumes/Maze/Work/Github.io/selcet.github.io - wf/app/scss/base/_grid.scss */
  .XLPull0 {
    right: auto; }
  /* line 588, /Volumes/Maze/Work/Github.io/selcet.github.io - wf/app/scss/base/_grid.scss */
  .XLPull1 {
    right: 8.33333%; }
  /* line 591, /Volumes/Maze/Work/Github.io/selcet.github.io - wf/app/scss/base/_grid.scss */
  .XLPull2 {
    right: 16.66667%; }
  /* line 594, /Volumes/Maze/Work/Github.io/selcet.github.io - wf/app/scss/base/_grid.scss */
  .XLPull3 {
    right: 25%; }
  /* line 597, /Volumes/Maze/Work/Github.io/selcet.github.io - wf/app/scss/base/_grid.scss */
  .XLPull4 {
    right: 33.33333%; }
  /* line 600, /Volumes/Maze/Work/Github.io/selcet.github.io - wf/app/scss/base/_grid.scss */
  .XLPull5 {
    right: 41.66667%; }
  /* line 603, /Volumes/Maze/Work/Github.io/selcet.github.io - wf/app/scss/base/_grid.scss */
  .XLPull6 {
    right: 50%; }
  /* line 606, /Volumes/Maze/Work/Github.io/selcet.github.io - wf/app/scss/base/_grid.scss */
  .XLPull7 {
    right: 58.33333%; }
  /* line 609, /Volumes/Maze/Work/Github.io/selcet.github.io - wf/app/scss/base/_grid.scss */
  .XLPull8 {
    right: 66.66667%; }
  /* line 612, /Volumes/Maze/Work/Github.io/selcet.github.io - wf/app/scss/base/_grid.scss */
  .XLPull9 {
    right: 75%; }
  /* line 615, /Volumes/Maze/Work/Github.io/selcet.github.io - wf/app/scss/base/_grid.scss */
  .XLPull10 {
    right: 83.33333%; }
  /* line 618, /Volumes/Maze/Work/Github.io/selcet.github.io - wf/app/scss/base/_grid.scss */
  .XLPull11 {
    right: 91.66667%; }
  /* line 623, /Volumes/Maze/Work/Github.io/selcet.github.io - wf/app/scss/base/_grid.scss */
  .XLOffset0 {
    margin-left: 0; }
  /* line 626, /Volumes/Maze/Work/Github.io/selcet.github.io - wf/app/scss/base/_grid.scss */
  .XLOffset1 {
    margin-left: 8.33333%; }
  /* line 629, /Volumes/Maze/Work/Github.io/selcet.github.io - wf/app/scss/base/_grid.scss */
  .XLOffset2 {
    margin-left: 16.66667%; }
  /* line 632, /Volumes/Maze/Work/Github.io/selcet.github.io - wf/app/scss/base/_grid.scss */
  .XLOffset3 {
    margin-left: 25%; }
  /* line 635, /Volumes/Maze/Work/Github.io/selcet.github.io - wf/app/scss/base/_grid.scss */
  .XLOffset4 {
    margin-left: 33.33333%; }
  /* line 638, /Volumes/Maze/Work/Github.io/selcet.github.io - wf/app/scss/base/_grid.scss */
  .XLOffset5 {
    margin-left: 41.66667%; }
  /* line 641, /Volumes/Maze/Work/Github.io/selcet.github.io - wf/app/scss/base/_grid.scss */
  .XLOffset6 {
    margin-left: 50%; }
  /* line 644, /Volumes/Maze/Work/Github.io/selcet.github.io - wf/app/scss/base/_grid.scss */
  .XLOffset7 {
    margin-left: 58.33333%; }
  /* line 647, /Volumes/Maze/Work/Github.io/selcet.github.io - wf/app/scss/base/_grid.scss */
  .XLOffset8 {
    margin-left: 66.66667%; }
  /* line 650, /Volumes/Maze/Work/Github.io/selcet.github.io - wf/app/scss/base/_grid.scss */
  .XLOffset9 {
    margin-left: 75%; }
  /* line 653, /Volumes/Maze/Work/Github.io/selcet.github.io - wf/app/scss/base/_grid.scss */
  .XLOffset10 {
    margin-left: 83.33333%; }
  /* line 656, /Volumes/Maze/Work/Github.io/selcet.github.io - wf/app/scss/base/_grid.scss */
  .XLOffset11 {
    margin-left: 91.66667%; } }

/* line 702, /Volumes/Maze/Work/Github.io/selcet.github.io - wf/app/scss/base/_grid.scss */
.mobileHidden.mobile-hidden {
  display: none; }
  @media screen and (min-width: 769px) {
    /* line 702, /Volumes/Maze/Work/Github.io/selcet.github.io - wf/app/scss/base/_grid.scss */
    .mobileHidden.mobile-hidden {
      display: block; } }

/* line 712, /Volumes/Maze/Work/Github.io/selcet.github.io - wf/app/scss/base/_grid.scss */
.mobileVisible.mobile-visible {
  display: block; }
  @media screen and (min-width: 769px) {
    /* line 712, /Volumes/Maze/Work/Github.io/selcet.github.io - wf/app/scss/base/_grid.scss */
    .mobileVisible.mobile-visible {
      display: none; } }

/* line 724, /Volumes/Maze/Work/Github.io/selcet.github.io - wf/app/scss/base/_grid.scss */
.rowSep10 {
  margin-right: -0.5rem;
  margin-left: -0.5rem; }
  @media screen and (max-width: 768px) {
    /* line 724, /Volumes/Maze/Work/Github.io/selcet.github.io - wf/app/scss/base/_grid.scss */
    .rowSep10 {
      margin-right: -0.5rem;
      margin-left: -0.5rem; } }
  /* line 731, /Volumes/Maze/Work/Github.io/selcet.github.io - wf/app/scss/base/_grid.scss */
  .rowSep10 .colSep10 {
    padding-right: .5rem;
    padding-left: .5rem; }
    @media screen and (max-width: 768px) {
      /* line 731, /Volumes/Maze/Work/Github.io/selcet.github.io - wf/app/scss/base/_grid.scss */
      .rowSep10 .colSep10 {
        padding-right: .5rem;
        padding-left: .5rem; } }

/* line 741, /Volumes/Maze/Work/Github.io/selcet.github.io - wf/app/scss/base/_grid.scss */
.rowSep20 {
  margin-right: -1rem;
  margin-left: -1rem; }
  @media screen and (max-width: 768px) {
    /* line 741, /Volumes/Maze/Work/Github.io/selcet.github.io - wf/app/scss/base/_grid.scss */
    .rowSep20 {
      margin-right: -1rem;
      margin-left: -1rem; } }
  /* line 748, /Volumes/Maze/Work/Github.io/selcet.github.io - wf/app/scss/base/_grid.scss */
  .rowSep20 .colSep20 {
    padding-right: 1rem;
    padding-left: 1rem; }
    @media screen and (max-width: 768px) {
      /* line 748, /Volumes/Maze/Work/Github.io/selcet.github.io - wf/app/scss/base/_grid.scss */
      .rowSep20 .colSep20 {
        padding-right: 1rem;
        padding-left: 1rem; } }

/* line 758, /Volumes/Maze/Work/Github.io/selcet.github.io - wf/app/scss/base/_grid.scss */
.rowSep30 {
  margin-right: -1.5rem;
  margin-left: -1.5rem; }
  @media screen and (max-width: 768px) {
    /* line 758, /Volumes/Maze/Work/Github.io/selcet.github.io - wf/app/scss/base/_grid.scss */
    .rowSep30 {
      margin-right: -1.5rem;
      margin-left: -1.5rem; } }
  /* line 765, /Volumes/Maze/Work/Github.io/selcet.github.io - wf/app/scss/base/_grid.scss */
  .rowSep30 .colSep30 {
    padding-right: 1.5rem;
    padding-left: 1.5rem; }
    @media screen and (max-width: 768px) {
      /* line 765, /Volumes/Maze/Work/Github.io/selcet.github.io - wf/app/scss/base/_grid.scss */
      .rowSep30 .colSep30 {
        padding-right: 1.5rem;
        padding-left: 1.5rem; } }

/* line 775, /Volumes/Maze/Work/Github.io/selcet.github.io - wf/app/scss/base/_grid.scss */
.rowSep40 {
  margin-right: -2rem;
  margin-left: -2rem; }
  @media screen and (max-width: 768px) {
    /* line 775, /Volumes/Maze/Work/Github.io/selcet.github.io - wf/app/scss/base/_grid.scss */
    .rowSep40 {
      margin-right: -2rem;
      margin-left: -2rem; } }
  /* line 782, /Volumes/Maze/Work/Github.io/selcet.github.io - wf/app/scss/base/_grid.scss */
  .rowSep40 .colSep40 {
    padding-right: 2rem;
    padding-left: 2rem; }
    @media screen and (max-width: 768px) {
      /* line 782, /Volumes/Maze/Work/Github.io/selcet.github.io - wf/app/scss/base/_grid.scss */
      .rowSep40 .colSep40 {
        padding-right: 2rem;
        padding-left: 2rem; } }

/* line 794, /Volumes/Maze/Work/Github.io/selcet.github.io - wf/app/scss/base/_grid.scss */
.gutter10 {
  margin-right: -0.5rem;
  margin-left: -0.5rem; }
  @media screen and (max-width: 768px) {
    /* line 794, /Volumes/Maze/Work/Github.io/selcet.github.io - wf/app/scss/base/_grid.scss */
    .gutter10 {
      margin-right: -0.5rem;
      margin-left: -0.5rem; } }
  /* line 801, /Volumes/Maze/Work/Github.io/selcet.github.io - wf/app/scss/base/_grid.scss */
  .gutter10 > div {
    padding-right: .5rem;
    padding-left: .5rem; }
    @media screen and (max-width: 768px) {
      /* line 801, /Volumes/Maze/Work/Github.io/selcet.github.io - wf/app/scss/base/_grid.scss */
      .gutter10 > div {
        padding-right: .5rem;
        padding-left: .5rem; } }

/* line 811, /Volumes/Maze/Work/Github.io/selcet.github.io - wf/app/scss/base/_grid.scss */
.gutter20 {
  margin-right: -1rem;
  margin-left: -1rem; }
  @media screen and (max-width: 768px) {
    /* line 811, /Volumes/Maze/Work/Github.io/selcet.github.io - wf/app/scss/base/_grid.scss */
    .gutter20 {
      margin-right: -1rem;
      margin-left: -1rem; } }
  /* line 818, /Volumes/Maze/Work/Github.io/selcet.github.io - wf/app/scss/base/_grid.scss */
  .gutter20 > div {
    padding-right: 1rem;
    padding-left: 1rem; }
    @media screen and (max-width: 768px) {
      /* line 818, /Volumes/Maze/Work/Github.io/selcet.github.io - wf/app/scss/base/_grid.scss */
      .gutter20 > div {
        padding-right: 1rem;
        padding-left: 1rem; } }

/* line 828, /Volumes/Maze/Work/Github.io/selcet.github.io - wf/app/scss/base/_grid.scss */
.gutter30 {
  margin-right: -1.5rem;
  margin-left: -1.5rem; }
  @media screen and (max-width: 768px) {
    /* line 828, /Volumes/Maze/Work/Github.io/selcet.github.io - wf/app/scss/base/_grid.scss */
    .gutter30 {
      margin-right: -1.5rem;
      margin-left: -1.5rem; } }
  /* line 835, /Volumes/Maze/Work/Github.io/selcet.github.io - wf/app/scss/base/_grid.scss */
  .gutter30 > div {
    padding-right: 1.5rem;
    padding-left: 1.5rem; }
    @media screen and (max-width: 768px) {
      /* line 835, /Volumes/Maze/Work/Github.io/selcet.github.io - wf/app/scss/base/_grid.scss */
      .gutter30 > div {
        padding-right: 1.5rem;
        padding-left: 1.5rem; } }

/* line 845, /Volumes/Maze/Work/Github.io/selcet.github.io - wf/app/scss/base/_grid.scss */
.gutter40 {
  margin-right: -2rem;
  margin-left: -2rem; }
  @media screen and (max-width: 768px) {
    /* line 845, /Volumes/Maze/Work/Github.io/selcet.github.io - wf/app/scss/base/_grid.scss */
    .gutter40 {
      margin-right: -2rem;
      margin-left: -2rem; } }
  /* line 852, /Volumes/Maze/Work/Github.io/selcet.github.io - wf/app/scss/base/_grid.scss */
  .gutter40 > div {
    padding-right: 2rem;
    padding-left: 2rem; }
    @media screen and (max-width: 768px) {
      /* line 852, /Volumes/Maze/Work/Github.io/selcet.github.io - wf/app/scss/base/_grid.scss */
      .gutter40 > div {
        padding-right: 2rem;
        padding-left: 2rem; } }

/* line 7, /Volumes/Maze/Work/Github.io/selcet.github.io - wf/app/scss/base/_classes.scss */
.prime-btn {
  background: #8ae6cf;
  border-radius: 3rem;
  color: #2c303d;
  display: inline-block;
  font-size: 1.4rem;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  transition: all .3s ease;
  padding: 1.5rem .5rem;
  width: 24.1rem; }
  /* line 21, /Volumes/Maze/Work/Github.io/selcet.github.io - wf/app/scss/base/_classes.scss */
  .prime-btn:hover {
    background: #75e2c6;
    cursor: pointer; }
  /* line 26, /Volumes/Maze/Work/Github.io/selcet.github.io - wf/app/scss/base/_classes.scss */
  .prime-btn:active {
    box-shadow: 0 -0.2rem #ffffff;
    transition: all 0s ease; }

/* line 7, /Volumes/Maze/Work/Github.io/selcet.github.io - wf/app/scss/modules/_container.scss */
.container {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center; }

/* line 4, /Volumes/Maze/Work/Github.io/selcet.github.io - wf/app/scss/modules/_main.scss */
.main {
  max-width: 70rem; }
  /* line 7, /Volumes/Maze/Work/Github.io/selcet.github.io - wf/app/scss/modules/_main.scss */
  .main__content {
    margin-left: 2rem; }
  /* line 13, /Volumes/Maze/Work/Github.io/selcet.github.io - wf/app/scss/modules/_main.scss */
  .main__contact-item__label {
    font-weight: 700; }

/* line 17, /Volumes/Maze/Work/Github.io/selcet.github.io - wf/app/scss/styles.scss */
html {
  font-size: 10px; }

/* line 21, /Volumes/Maze/Work/Github.io/selcet.github.io - wf/app/scss/styles.scss */
body {
  background: #f6f6f6;
  font-family: "Ubuntu", sans-serif;
  font-size: 2vh; }
  @media screen and (max-width: 768px) {
    /* line 21, /Volumes/Maze/Work/Github.io/selcet.github.io - wf/app/scss/styles.scss */
    body {
      font-size: 2rem; } }
  @media screen and (max-width: 480px) {
    /* line 21, /Volumes/Maze/Work/Github.io/selcet.github.io - wf/app/scss/styles.scss */
    body {
      font-size: 2rem; } }

/*# sourceMappingURL=maps/styles.css.map */
